@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: DM Sans;
    color: white;
}

body{
    background-image: linear-gradient(180deg,rgb(78, 78, 78),black);
}

.page{
    display: flex;
}

.sidenav{
    background-color: black;
    height: 700px;
    width: 250px;
    top: 0; /*to stay at the top*/
    left: 0;
    z-index: 1; /* To stay on the top */
}

.logo img {
    margin: 30px 30px;
    width: 60%;
    height: 60%;
}

.conten1 img ,.content2 img ,.content4 img {
    padding: 15px 0px 0px 30px;
    width:20px;
    height:20px;
}

#img4 {
    margin-left: 30px;
    padding: 55px 0 0 0;
}

.sidenav a{
    padding: 10px 10px;
    text-decoration: none;
    font-size: 15px;
    display: inline;
}

#img5 ,#img4{
    position: relative;
}

#addsymbol{
    position: absolute;
    color: black;
    top: 264px;
    left: 22px;
    font-size: 30px;
}

#img6{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 315px;
    left:6px;
}

.content3 a{
    margin-left: 30px;
    padding-top: 55px;
}

.content4{
    padding-top: 55px;
}


.boxes{
    display: flex;
    gap: 2%;
    margin-left: 30px;
}

.boxes div img{
    width: 5em;
    height: 5em;
}

.boxes div{
    border: 2px solid  rgb(130, 128, 128);
    width: 15em;
    height:5em;
    background-color: rgb(130, 128, 128);
    border-radius: 4px;
}

.singers{
    display: flex;
    justify-content: space-between;
    gap: 2%;
    margin-left: 2%;
}

.singers div {
    border: 2px solid rgb(56, 56, 56);
    background-color: rgb(56, 56, 56);
    padding: 2%;
    
}

.con2  p{
    margin-top: 100px;
    margin-left: 30px;
    margin-bottom: 20px;
    color: white;
    font-size: 40px;
}

.subcontent{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 100px;
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 25px;
}

.boxes div {
    display: flex;
    text-align: center;
    align-items: center;
}

.boxes div p{
    margin: 10px;
}
